.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.btn.btn-xs.btn-warning {
    float: left;
    margin-right: .5rem;
}
